.paticka{
    background-color: lighten(silver, 22%);
    padding-left: $zakladni-odsazeni;
    padding-bottom: 10vw;

    &__text {
        display: grid;
        grid-template-columns: 50% 50%;
        width: $sirka-obsahu;
    }
    &__sekce{
        list-style: none;    
    }
    &--nazev {
        padding-left: 2.4rem;
    }
    &__seznam{
        list-style: none;
    }

    &__seznam a {
        text-decoration: none;
        color:black;
    }
}