.paticka{
    background-color: lighten(silver, 22%);    
    padding-bottom: 10vw;

    &__text {
        margin: auto;
        width: $sirka-obsahu;
    }
    &__sekce{
        list-style: none;    
    }
    &--nazev {
        padding-left: 2.4rem;
    }
    &__seznam{
        list-style: none;
    }

    &__seznam a {
        text-decoration: none;
        color:black;
    }
}

@media (min-width: 500px){
    .paticka__text {
       display: grid;
       grid-template-columns: 50% 50%;
       max-width: $sirka-obsahu;
       padding-left: $zakladni-odsazeni;
       margin: 0;
       
    }
}